@charset "uft-8";
html {
    overflow-x: hidden;
}
.row {
    max-width: 1260px;
    margin: 0 auto;

}

#header {
    background:#000;
}

#header .row {
    position: relative;
}

#header .row .logo {
    float: left;
    width: 290px;
}

#header .row .logo a {
    display: block;
    height: 100px;
    background: url(../img/logo.png) no-repeat;
}

#header .open
{
    display: none;
}

#header .row .nav {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; */
    float: left;
    margin-top: 12px;
    text-align: center;
}

#header .row .nav .depth1> li {
    display: inline-block;
    padding: 30px 30px 35px;
    color: #eee;
    position: relative;
}
#header .row .nav .depth1 > li.on .depth2 {
    display: block;
}
#header .row .nav .depth2 {
    display: none;
    position: absolute;
    top:100%;
    left:10px;
    background: rgba(0, 0, 0, .9);
    border-top:1px solid #39cfdf;
    width: 160px;
    text-align: left;
    padding: 10px 0;
    z-index: 99999;
}

#header .row .nav .depth2 li {
    padding: 10px 20px;
    font-size: 13px;
    clear: both;
    color: #eee;
    white-space: nowrap;
    text-align: left;
}

#header .row .nav .depth2 li.on {
    text-decoration:underline;
}

#header .row .navbox .login {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 11px;
    color:#ccc;
}

#header .row .loginbox a {padding:0px 7px;}
