@charset "uft-8";

@media screen and (max-width: 1024px) {
    
#header .open { display:block;
    position:absolute; right:10px; 
    top:50%; transform:translateY(-50%);
    font-size:21px; 
    color: #fff;
}

#header .row .logo {
    float: none;
    width: 290px;
}

#header .row .logo a {
    height: 50px;
    background: url(../img/logo-m.png) no-repeat;
}


#header .navbox {
    position:absolute; top:100%; left:0; width:100%; background:#000; z-index:99999;
    display:none
}


#header .row .navbox .login {
    position: static;
    padding: 10px 0;
    top: 50%;
    right: 10px;
    transform: translateY(0%);
    font-size: 11px;
    color:#ccc;
    border: 1px solid #444;
    border-right:none;
    border-left:none;
}
#header .row .navbox .login a:nth-child(1) {margin-left: 15px;}
#header .row .login a {display:inline-block; margin-right: 10px; padding: 7px 10px; background: #333; color:#ddd; border-radius: 3px;}
#header .row .loginbox a:nth-child(2) {display: none;}



#header .row .navbox .nav {
    float: none;
    margin-top: 12px;
    text-align: left;
}
#header .row .nav .depth1> li {
    padding: 0px;
    color: #eee;
    position: relative;
    display: block;
}

#header .row .nav .depth1 > li > a {
    padding: 10px 15px;
    display: block;
}
#header .row .nav .depth1 > li:hover > a {
    background: #39cfdf;
}

#header .row .depth2 > li:hover {
    text-decoration:underline;
    color:#39cfdf
}

#header .row .nav .depth2 {
    position: static;
    top:100%;
    left:10px;
    background: rgba(0, 0, 0, .9);
    border-top:0px solid #39cfdf;
    width: 100%;
    text-align: left;
    padding: 10px 0;
    /* z-index: 9999999; */
}





}